<ion-view view-title="{{chat.name}}">
	<ion-content class="padding">
		<img ng-src="{{chat.face}}" style="display:block; margin:0 auto; height: 30%;">
		<p id="address">
			{{chat.address}}
		</p>
		<p id="address">
			<i class="icon ion-checkmark-circled"></i>
			<ion-icon name="checkmark-circle" color="green"></ion-icon>
			Verified by {{chat.verifiedBy}}
		</p>
		<p id="itemtext">
			Items needed :
		</p>
		<ion-item class="items center" ng-repeat="i in chat.items" >
			{{i.name}}: {{i.qty}}
			<div data-bttnio-id="btn-24cb4c3b297f1b6f"
			data-bttnio-context='{ "item": { "identifiers": { "jet": "b07b0650208c4dfabf99277e863d5c51" } } }'
			data-bttnio-inventory-mode="inline" style="text-align:center !important; margin: 0 auto;
			"></div>
		</ion-item>

		</p>
		<style>
			#address {
				text-align: center;
			}

			#itemtext, .items {
				text-align: center;
			}
		</style>

	</ion-content>
</ion-view>
