<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="display:block; margin:0 auto; height: 30%;">
    <p id="address">{{chat.address}}</p> 
      <p id="itemtext">Items needed : </p>
      <ion-item class="items" ng-repeat="i in chat.items">{{i.name}}: {{i.qty}} </ion-item>
      

      
    </p>
    <style>
    #address {
      text-align:center;
    }

    #itemtext,.items{
      text-align:center;
    }
    </style>

  </ion-content>
</ion-view>
